{% extends "layout.html" %}
{% block content %}
<div id='content' class='container-fluid'>
        <h1 class=text-center>DATA PAGE</h1>
	<svg class="svgone"></svg><br>
	<input id="slider" type="range" min="1999" max="2013" value="1999" step="1" />
	<div class="ml-auto mr-auto w-75 text-center display-4"><label id="yearLabel">Year: 1961</label></div>
	<button type="button" id="myBtn" class="btn btn-primary btn-lg">Help button</button>

<!-- The Modal -->
<div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <span class="close">&times;</span>
    <p>Click drop data fristly, it will drop all data from MongoDB</p>
    <p>Click create data secondly, it will read CSV file then store to MongoDB</p>
<p>It will automatcatal come back to home page and you able to saw the data show by D3 way</p>
  </div>

</div>
	<button class="choose" data-name="sortone">one</button>
	<button class="choose" data-name="sortthree">two</button>

<script>

$.get("/countries",
         function (response) {
            var $response = JSON.parse(response);
            var slider = $("#slider");
            var sliderValue = slider.val();
            var circleSelected = false;

            //*************set up margin and width, height variables**************

            var margin = { top: 60, right: 90, bottom: 60, left: 60 };
            var width = 1300;
            var height = 400;
	    var startyear = 1965;
	    var sortone = "data1";
	    var sorttwo = "data2";
	    var sortthree = "data3";
	    var selection = sortone;

	    // 10 random color
	    var color = d3.scaleOrdinal()
            .range(d3.schemeCategory10);

            //*************finish Declaring Variables*****************
		

            //************Start Moving an SVG selection to the front/back****** 
            //Rolling over boxes bring them to front, and clicking them sends them to the back.
            //http://bl.ocks.org/eesur/4e0a69d57d3bfc8a82c2

            d3.selection.prototype.moveToFront = function () {
                return this.each(function () {
                    this.parentNode.appendChild(this);
                });
            };

            d3.selection.prototype.moveToBack = function () {
                return this.each(function () {
                    var firstChild = this.parentNode.firstChild;
                    if (firstChild) {
                        this.parentNode.insertBefore(this, firstChild);
                    }
                });
            };
            //************Finish Moving an SVG selection to the front/back******

	    console.log(selection);
	    //************Data selection*****************************

	    $(".choose").click(function() {
		selection = $(this).attr("data-name");
		});
	    
	    console.log(selection);
	    //**************finish**********************************

            //***********Store data to variable: xMAX,xMIN......***************
            var xMax = d3.max($response, function (d) {
                if (d && d.data && d.data[selection]) {
                    var dataArray = new Array;
                    for (var o in d.data[selection]) {
                        dataArray.push(parseFloat(d.data[selection][o]));
                    }
                    return d3.max(dataArray);
                } else {
                    return parseFloat(0);
                }
            });

            var xMin = d3.min($response, function (d) {
                if (d && d.data && d.data[selection]) {
                    var dataArray = new Array;
                    for (var o in d.data[selection]) {
                        dataArray.push(parseFloat(d.data[selection][o]));
                    }
                    return d3.min(dataArray);
                } else {
                    return parseFloat(0);
                }
            });

            var yMax = d3.max($response, function (d) {
                if (d && d.data && d.data[sorttwo]) {
                    var dataArray = new Array;
                    for (var o in d.data[sorttwo]) {
                        dataArray.push(parseFloat(d.data[sorttwo][o]));
                    }
                    return d3.max(dataArray);
                } else {
                    return parseFloat(0);
                }
            });

            var zMax = d3.max($response, function(d) { 
                if(d && d.data && d.data[sortthree]){
                    var dataArray = new Array;
                    for(var o in d.data[sortthree]) {
                        dataArray.push(parseFloat(d.data[sortthree][o]));
                    }
                    return d3.max(dataArray); 
                } else {
                    return parseFloat(0);
                } 
            });

            console.log(xMax);
            console.log(yMax);
            console.log(zMax);

            //**********************set up xCale and yScale***************
            var xScale = d3.scaleLinear()
                .range([0, width])
                .domain([xMin, xMax]);

            var yScale = d3.scaleLinear()
                .range([height, 0])
                .domain([0, yMax]);

            /*var rScale = d3.scaleSqrt()
            .range([0, r])
            .domain([0, rMax]);*/

            var xAxis = d3.axisBottom().scale(xScale).ticks(40);
            var yAxis = d3.axisLeft().scale(yScale).ticks(20);

            //**********************Finish Scale part**********************



            //*********************append a svg*****************************
            var svg = d3.select("svg").append("svg")
                .attr("height", height + margin.top + margin.bottom)
                .attr("width", width + margin.left + margin.right)
                .append("g")
                .attr("transform", "translate(" + margin.left + "," + margin.top + ")");
	    
	    //******************SVG part finish********************************


	    //*****************Circle part start****************************
            //adding the circles
            var g = svg.selectAll("g")
                .data($response)
                .enter()
                .append("g")
                .attr("transform", function (d) {
                    if (d && d.data && d.data[sorttwo] && d.data[selection]) {
                        var x = d.data[selection][startyear] ? xScale(d.data[selection][startyear]) : 0;
                        var y = d.data[sorttwo][startyear] ? yScale(d.data[sorttwo][startyear]) : 0;
                        return "translate(" + x + "," + y + ")"
                    } else {
                        return "translate(-1000,-1000)"  ;

                    }
                })
                .on("mouseover", function () {
                    if (!circleSelected) {
                        d3.select(this)
                            .moveToFront()
                            .append("text")
                            .text(function (d) { return d.name })
                            .attr("x", 0)
                            .attr("y", 40);
                    }
                })
                .on("mouseout", function () {
                    if (!circleSelected) {
                        d3.select(this)
                            .select("text")
                            .remove();
                    }
                });

            var circles = g.append("circle")
                .attr("r", function (d,i) 
		{ return Math.floor(Math.random() * (35 - 15)) + 15 })  
        	.attr("fill",function(d,i){ return color(i); })
                .on("mouseover", function () {
                    if (!circleSelected) {
                        circles.attr("opacity", 0.2);
                        d3.select(this)
                            .attr("opacity", 1)
                            .moveToFront();
                    }
                })
                .on("mouseout", function () {
                    if (circleSelected) {

                    } else {
                        circles.attr("opacity", 1);
                    }
                })
                .on("click", function () {
                    if (!circleSelected) {
                        circleSelected = true;
                        d3.select(this)
                            .attr("opacity", 1);
                    } else {
                        circleSelected = false;
                    }
                });
	    //****************Circle function finish********************




            //********************set up axis labels**********************
            svg.append("g")
                .attr("transform", "translate(0," + height + ")")
                .attr("class", "x axis")
                .call(xAxis);

            svg.append("text")
                .attr("class", "label")
                .attr('x', width)
                .attr('y', height + 35)
                .attr("text-anchor", "end")
                .text("Coal Consumption Per Cap");

            svg.append("g")
                .attr("transform", "translate(0,0)")
                .attr("class", "y axis")
                .call(yAxis);

            svg.append("text")
                .attr("class", "label")
                .attr("transform", "rotate(-90)")
                .attr('x', 0)
                .attr('y', -35)
                .attr("text-anchor", "end")
                .text("Life Expectency");

            //*******************Finish axis label*********************



            //****************slider change function********************

            slider.on("input", function () {
                sliderValue = slider.val();
                g.transition()
                    .duration(100)
                    .attr("transform", function (d) {
                        if (d && d.data && d.data[sorttwo] && d.data[selection]) {
                            var x = d.data[selection][sliderValue] ? xScale(d.data[selection][sliderValue]) : 0;
                            var y = d.data[sorttwo][sliderValue] ? yScale(d.data[sorttwo][sliderValue]) : 0;
                            return "translate(" + x + "," + y + ")"
                        } else {
				return "translate(-1000,-1000)";
                        }
                    });

                circles.transition()
                    .duration(100)
                    .attr("r", function (d) 
		    { return Math.floor(Math.random() * (35 - 15)) + 15 })  
		    .attr("fill",function(d,i){ return color(i); })
		 });

            //***********************silder part finish*********************


/*

		 function myFunction() {
    //  var number = slider.val();
      document.getElementById("YearsVar").innerHTML = sliderValue;
    };
*/

        });

  
</script>


{%  endblock %}

