{% extends "layout.html" %}
{% block content %}
<div class="card-group">
  <div class="card">
    <a href="https://www.majortom.com/">
      <img src="https://gitlab.com/kevin963/web3-assessment-1/-/raw/master/static/image/img1.png" class="card-img-top" alt="screenShot"></a>
    <div class="card-body">
      <h5 class="card-title">Major Tom</h5>
      <p class="card-text">keep scroll down the page, more content will appear at the whitespace.
        And there have four themes that Strategy, Creative, Marketing and Development.
        The whole main page is simple, easy to find useful info and modern.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
  <div class="card">
    <a href="https://www.scti.co.nz/">
      <img src="https://gitlab.com/kevin963/web3-assessment-1/-/raw/master/static/image2.png" class="card-img-top" alt="screenShot"></a>
    <div class="card-body">
      <h5 class="card-title">Southern Cross</h5>
      <p class="card-text">They use some eye-catching icons to display the main functions of this website (company).
        This is a good way. People do n’t like to read boring documents. Using icons can quickly gain attention.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
  <div class="card">
    <a href="https://citipark.co.uk/">
      <img src="https://gitlab.com/kevin963/web3-assessment-1/-/raw/master/static/image3.png" class="card-img-top" alt="screenShot"></a>
    <div class="card-body">
      <h5 class="card-title">Citipark</h5>
      <p class="card-text">The site uses rebranding colors, it is dark blue, I use online tools to identify colors, it
        is # 2e42a4, I think that using unique colors can make the site more beautiful and increase consistency, I will
        try to find one Color suitable for my website.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
</div>
{% endblock %}
