<html>
    <head>
            
                    <meta charset="UTF-8">
                    <meta name="viewport" content="width=device-width, initial-scale=1.0">
                    <meta http-equiv="X-UA-Compatible" content="ie=edge">
                    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
                    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
                    <link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}">
		    <link rel="shortcut icon" href="{{url_for('static', filename='image/favicon.ico')}}">
		    <script src="https://d3js.org/d3.v5.js"></script>
                    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
                    <script src="{{url_for('static',filename='js/script.js')}}"></script>
                    <title>HomePage</title>
                    </head>
   
<body>
    <header>
        <div class="contarner">
            <h1 class="title">Web3 Assessment</h1>
            <strong>
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Data Visualizations</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="{{url_for('index')}}">Home Page<span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" href="{{url_for('inspire')}}">Inspiration</a>
      <a class="nav-item nav-link" href="{{url_for('loaddata')}}">Create Data</a>
      <a class="nav-item nav-link" href="{{url_for('drop')}}">Drop Data</a>
      <a class="nav-item nav-link" href="http://10.25.138.114:3000">Stack-B </a>
    </div>
  </div>
</nav>
	    </strong>
        </div>
    </header>
    <div class="container">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>
